:root {
    --primary-background: #fff;
    --secondary-background: #eee;
    --primary: #000;
    --accent-color: #00307d;
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-background: #31363F;
        --secondary-background: #222831;
        --primary: #e8e8e8;
        --accent-color: #387ef0;
    }
}

* {
    box-sizing: border-box;
}

body {
    color: var(--primary);
    background-color: var(--secondary-background);
    height: 100%;
    margin: 0;
    font-size: 14px;
    padding: 20px;
}

a, a:visited {
    color: var(--accent-color);
}

div.all-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

div.top-menu {
    display: flex;
    flex: 0 1 auto;
    justify-content: space-between;
    /* cursor: pointer; */
}

div.header {
    flex: 0 0 auto;
}

div.content {
    display: flex;
    flex: 0 1 auto;
    overflow-y: auto;
    column-gap: 10px;
    padding: 3px;
}

div.footer {
    flex: 1 0 auto;
}

div.col {
    background-color: var(--primary-background);
    border-radius: 10px;
    box-shadow: grey 0px 1px 5px 1px;
    flex: 1;
    padding: 15px;
    overflow-y: auto;
}

div.col h3:first-of-type {
    margin-block-start: 0;
}

li[draggable] {
    cursor: grab;
}

li.repo {
    margin-bottom: 7px;
    /* padding: 5px; */
    box-sizing: content-box;
}

li.repo.isdragged {
    opacity: .5;
    border: 2px dashed var(--primary);
}

li.repo>div {
    display: inline-block;
    padding: 5px;
    margin-top: 1px;
    /* to fix dragging image having part of border */
}

li.issue {
    margin-bottom: 2px;
}

.repo-alias {
    margin-left: 5px;
}

div.repo {
    background-color: var(--primary-background);
}

.spinner {
    display: inline;
    color: white;
    background-color: green;
    padding: 3px;
}

.dayofweek {
    margin-bottom: 10px;
}

.dayofweek>span {
    font-weight: bold;
}

textarea.callouts {
    /* font-size: 12px; */
    font-family: Arial, Helvetica, sans-serif;
    max-width: 800px;
    width: 100%;
    border: .5px solid lightgray;
    border-radius: 5px;
    overflow: hidden;
}

p.callouts {
    /* font-size: 12px; */
    cursor: pointer;
}

input.repo-alias {
    border: .5px solid lightgray;
}

ul.dropzone {
    min-height: 35px;
    margin-block-start: .3em;
    margin-block-end: .3em;
}


ul.dropzone.dragover {
    border: .5px dashed;
    background-color: lightgray;
}

li.dropzone {
    background-color: inherit;
    padding: 5px;
}

li.dropzone.dragover {
    background-color: rgb(114, 206, 100);
}


.hidden {
    display: none;
}

li>p {
    margin: 0px;
}

#copy-confirmation {
    color: var(--accent-color);
}

label {
    font-weight: bold;
}

#remove-from-schedule.active {
    background-color: lightcoral;
}